
@using ePrimjer.Infrastracture

@{
    ViewData["Title"] = "Home Page";
}

@model StudentDto

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">model.IndexNumber</h1>
    <h1 class="display-4">model.FirstName</h1>
    <h1 class="display-4">model.LastName</h1>
    <h1 class="display-4">model.BirthDate</h1>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
